.machine {
    color: black;
}

.header {
    background-color: grey;
}

div {
    text-align: center;
    font-family: sans-serif;
}

div.machine {
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-color: black;
}

.footer {
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-color: white; 
    background-color: grey;
}

div.header {
       font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-color: black; 
}

.machin.isActive {
    color: grey;
    font-weight: bold;
}

button {
    border-style: solid;
    border-width: 3px;
   border-color: black; }
   
.switch{border:1px solid #ccc;width:50px;height:26px;border-radius:13px;cursor:pointer;display:inline-block}

.switch-toggle{border:1px solid #999;box-shadow:1px 1px 1px #ccc;width:25px;height:24px;left:0;border-radius:12px;background:#fff;position:relative;transition:left .2s ease-in-out}.switch.on{background:green}.switch.on .switch-toggle{left:23px}.switch.disabled{cursor:not-allowed}
